@model IEnumerable<AllProductViewModel>

@{
    ViewData["Title"] = "ALL Product";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="row">
    @foreach (AllProductViewModel product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@product.ImageUrl" alt="Product Image">
                <div class="card-body text-center">
                    <h4>@product.Name</h4>

                    <h6>Description: <b>@product.Description</b></h6>
                    <h6>
                        Price :
                        <b>@($"{product.Price:f2}") BGN</b>
                    </h6>
                    <h6>Create On: <b>@product.CreateOn</b></h6>

                    <br />
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"
                       class="btn btn-success">Details</a>

                </div>
            </div>
        </div>
    }
</div>