@model DetailsProductViewModel
@using RTS.Store.Services.Data.Interfaces;
@using RTS.Store.Web.Infrastricture.Extensions

@inject ISellerService SellerService
@{
    var userId = this.User.GetId()!;
    var isUserSeller = await this.SellerService.SellerExistByUserIdAsync(userId);
}
@{
    ViewBag.Title = "Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="House Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Name</u></p>

            <p>
                Price Per Month:
                <b>@($"{Model.Price:f2}") BGN</b>
            </p>
            <p>@Model.Description</p>
            <p>Category: <b>@Model.CategoryName</b></p>

            <div class="form-inline">
                @if (isUserSeller)
                {
                    <a class="btn btn-warning" asp-controller="Product" asp-action="Edit"
                       asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Product" asp-action="Delete"
                       asp-route-id="@Model.Id">Delete</a>

                }


                <form class="ml-2" asp-controller="ShoppingCard"
                      asp-action="AddToCard" asp-route-id="@Model.Id"
                      method="post">

                    <div class="form-group">
                        <label asp-for="Quantity"></label>
                        <input type="number" asp-for="Quantity" class="form-control" value="1">
                        <span asp-validation-for="Quantity" class="small text-danger"></span>
                    </div>
                    
                    <input class="btn btn-primary" type="submit"
                           value="Add To Card" />
                </form>

            </div>

            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Agent Info</h5>
                    <p class="card-text">Full Name: @Model.Seller.FullName</p>
                    <p class="card-text">Email: @Model.Seller.Email</p>
                    <p class="card-text">Phone Number: @Model.Seller.PhoneNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>